* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.heading {
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    padding: 10px 30px;
    background-color: #ffffff;
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: calc(100vh - 52px);
    padding: 25px 30px;
    margin: 0 auto;
    background-color: #F7F7F7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.3rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
}

.input-field {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;

    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 34px;
    width: 300px;
    position: relative;
}

input {
    padding: 5px 12px;
    border: none;
    outline: 0;
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    overflow: visible;
}

.icon-wrap {
    position: relative;
    top: 2px
}

.user-not-found {
    top: 30px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 280px;
    flex-direction: column;
}

.user-not-found img {
    width: 270px;
    height: 270px;
    background: none;
}

.not-found-text {
    margin-top: 10px;
    font-size: 28px;
}

.user-card {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    padding: 15px;
    background-color: #ffffff;
    color: #222;
    border-radius: 10px;
}

.user-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.user-image {
    margin-right: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #E5E5E6;
    object-fit: cover;
}

.followers-reveal-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reveal-btn {
    padding: 2px 7px;
    border: 0;
    border-radius: 5px;
    background-color: #2795F5;
    color: #ffffff;
}

ul {
    list-style: none;
}

.followers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 10px 0;
}

li {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    background-color: #E5E5E6;
}

@media only screen and (max-width: 1175px) {
    .users {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .users {
        grid-template-columns: 1fr;
    }

    #search {
        width: 250px;
    }
}

@media only screen and (max-width: 460px) {
    .users {
        grid-template-columns: 1fr;
    }

    .input-field {
        width: 180px;
    }

    .user-image {
        height: 70px;
        width: 75px;
    }

    .container {
        padding: 22px 15px;
    }

    .heading {
        padding: 10px 15px;
    }
}