* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

.heading {
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    padding: 10px 30px;
    background-color: #ffffff;
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 93vh;
    padding: 25px 30px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.3rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
}

#search {
    width: 300px;
    font-size: 18px;
    height: 30px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    background: url(./image/icon-search.svg) no-repeat left;
    background-color: #fff;
    background-position: 6px 4px;
    background-size: 20px;
    padding-left: 35px;
}

.user-not-found {
    top: 30px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
    flex-direction: column;
}

.user-not-found img {
    width: 270px;
    height: 270px;
    background: none;
}

.not-found-text{
    margin-top: 10px;
    font-size: 28px;
}

.user-card {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    padding: 15px !important;
    background-color: #ffffff;
    color: #222;
}

.user-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.user-image {
    margin-right: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ded2d2;
    object-fit: cover;
}

.followers-reveal-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reveal-btn {
    padding: 2px 7px;
    border: 0;
    border-radius: 5px;
    background-color: #5f5ff1;
    color: #ffffff;
}

ul {
    list-style: none;
}

.followers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 10px 0;
}

li {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    background-color: #ded2d2;
}

@media only screen and (max-width: 1175px) {
    .users {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 780px) {
    .users {
        grid-template-columns: 1fr 1fr;
    }

    .user-card {
        padding: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .users {
        grid-template-columns: 1fr;
    }

    #search {
        width: 250px;
    }
}

@media only screen and (max-width: 460px) {
    .users {
        grid-template-columns: 1fr;
    }

    #search {
        width: 180px;
    }

    .user-image {
        height: 70px;
        width: 75px;
    }

    .container {
        padding: 22px 15px;
    }

    .heading {
        padding: 10px 15px;
    }
}